on boot
    setprop rild.libpath	/system/lib/lge-ril.so
    #setprop rild.libargs	-d /dev/pts0

service rawip_vsnet1 /system/bin/init.vsnet 1
   user root
   group radio cache inet misc
   disabled
   oneshot

service rawip_vsnet2 /system/bin/init.vsnet 2
   user root
   group radio cache inet misc
   disabled
   oneshot

service rawip_vsnet3 /system/bin/init.vsnet 3
   user root
   group radio cache inet misc
   disabled
   oneshot

service rawip_vsnet4 /system/bin/init.vsnet 4
   user root
   group radio cache inet misc
   disabled
   oneshot

service vsnet1_down /system/bin/init.vsnet-down 1
   user root
   group radio cache inet misc
   disabled
   oneshot

service vsnet2_down /system/bin/init.vsnet-down 2
   user root
   group radio cache inet misc
   disabled
   oneshot

service vsnet3_down /system/bin/init.vsnet-down 3
   user root
   group radio cache inet misc
   disabled
   oneshot

service vsnet4_down /system/bin/init.vsnet-down 4
   user root
   group radio cache inet misc
   disabled
   oneshot
